@model Contacts.Models.Contact
@{
	ViewBag.Title = "Contact Detail";
}
<head>
	<!-- styles -->
	<link href="~/Content/styles/Contact.css" rel="stylesheet" />
   
	<!-- scripts -->
</head>
<body>
	<div class="contact center">
		<div class="contact-box">
			<h1 class="title">Koyun Mania</h1>
			<div class="blocks">
				<ul>
					<li>
						<em>Name</em><span>Koyun Mania</span>
					</li>
					<li>
						<em>Phone</em><span>+90533#######</span>
					</li>
					<li>
						<em>Email</em><span>koyunmania@koyun.com</span>
					</li>
				</ul>
				<div class="logo">
					<img src="assets/images/user_default.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
</body>
