<head>
	<!-- styles -->
	<link href="~/Content/styles/Login.css" rel="stylesheet" />
	
	<!-- scripts -->
</head>
<body>
	<div class="login center">
		<div class="login-box">
			<h1 class="title">Login</h1>
			<div class="blocks">
				<ul>
					<li>
						<p><span class="fa fa-user"></span><input class="input-user" type="text" placeholder="User name" /></p>
					</li>
					<li>
						<p><span class="fa fa-key"></span><input class="input-pass" type="text" placeholder="Password" /></p>
					</li>
					<li>
						<a href="forgot-pass.html">Forgot password?</a>
					</li>
					<li>
						<button onclick="">Login</button>
					</li>
				</ul>
				<div class="logo">
					<img src="~/Content/images/logo.jpg" />
				</div>
			</div>
		</div>
	</div>
</body>
